@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply
  text-5xl 
  mb-4
  text-green-600
}

h2 {
  @apply
  text-3xl 
  mb-2
  text-green-800
}

.btn {
  @apply
  bg-green-800
  text-yellow-200
  pt-1 pb-1 pl-3 pr-3
  rounded-lg
  hover:bg-green-600 
  hover:text-yellow-100
  disabled:bg-gray-400
  disabled:text-black
}